# Problem Set 2 Solution

## Question 1
#### Explanation of the below code:

In [63]:

a = 0  #here a is global variable as it is defined outside funcation call namespace 

def b(): #calling function b creating its own namespace
        
    global a  #reference to global varibale a in function b()
    a = c(a)  #global variable a is assigned value equal to c(a)
 
def c(a):     #calling function c with input argument (global variable a)
    return a + 2  #returning value of a as  a + 2
b() # a = 2 here
b() # a = 4 here
b() # a = 6 here
a   # calling a which is equal to 6

6

## Question 2
#### Modify function fileLength() so that a friendly message is printed when an exception will be raised.

In [66]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File {} not found.".format(file_name))
    except:
        print("File not read")
    

filename = "C:\\Users\\Abhishek\\Desktop\\Filelength.txt"
#fileLength(filename)

fileLength(filename)

try:
    fileLength(midterm.py)
except NameError:
        print("File cannot be read as a text file")

123
File cannot be read as a text file

## Question 3
#### Create class named Marsupial and a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial

In [80]:
class Marsupial:
    
    def __init__(self):
        self.lst = []
        
    def put_in_pouch(self,item):
        return self.lst.append(item)
    
    def pouch_contents(self):
        return self.lst
    
m = Marsupial()

m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

m.pouch_contents()

class Kangaroo(Marsupial):
    def __init__(self,xcoord,ycoord):
        self.lst = []
        self.x = xcoord
        self.y = ycoord
        
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)
    
k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll') 
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten') 

k.pouch_contents() 

k.jump(1,0) 
k.jump(1,0) 
k.jump(1,0) 
print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

## Question 4
#### Function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x

In [135]:
def collatz(x):
    
    if x == 1:
        print(x)
    elif x % 2 == 0:
        print(x)
        collatz(x//2)
       
    else:
        print(x)
        collatz(3*x+1)
        

collatz(10)

10
5
16
8
4
2
1

## Question 5
#### Recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [3]:
def binary(n):
    if n > 1:
        binary(n//2)
 
    print(n % 2, end =" ")
    
binary(9)

1 0 0 1

## Question 6
####

In [ ]:
import html.parser import HTMLParser
from urllib.request import urlopen
response = urlopen('http://www.w3c.org/Consortium/facts.html')

class HeadingParser(HTMLParser):
    
    
    
    
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
hp = HeadingParser() 
hp.feed(content)

## Question 8
#### SQL queries on the below database table:

In [38]:
import sqlite3
con = sqlite3.connect('file.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS Monsoon (City text, Country text, Season text, Temperature real, Rainfall real)")
cur.execute("INSERT INTO Monsoon VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Monsoon VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Monsoon VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
cur.execute('SELECT * FROM Monsoon')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## SQL queries on the below database table that return:  
#### 8.a) All the temperature data.

In [41]:
cur.execute("SELECT Temperature FROM Monsoon")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

#### 8.b All the cities, but without repetition.

In [44]:
cur.execute("SELECT DISTINCT City FROM Monsoon")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

#### 8.c) All the records for India.

In [48]:
cur.execute("SELECT * FROM Monsoon WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### 8.d) All the Fall records.

In [50]:
cur.execute("SELECT * FROM Monsoon WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### 8.e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [93]:
cur.execute("SELECT City, Country, Season, AVG(Rainfall) FROM Monsoon WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 257.40000000000003)]

#### 8.f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [96]:
cur.execute("SELECT City,Country, AVG(Temperature) FROM Monsoon WHERE Temperature > 20.0  GROUP BY City, Country ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

#### 8.g) The total annual rainfall for Cairo.

In [85]:
cur.execute("SELECT SUM(Rainfall) FROM Monsoon WHERE City = 'Cairo'")
cur.fetchall()

[(27.6,)]

#### 8.f) The total rainfall for each season.

In [94]:
cur.execute("SELECT Season, SUM(Rainfall) FROM Monsoon GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 9
#### List comprehension expressions that use list words and generate the following lists: 
#### words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## Solution:
#### 9.a)

In [3]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#using list comprehension making a new list containing each word in upper case
list1 = [word.upper() for word in words]

print(list1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### 9.b)

In [12]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#using list comprehension making a new list containing each word in lower case
list2 = [word.lower() for word in words]

print(list2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### 9.c)

In [13]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#using list comprehension making a new list containing length of each word
list3 = [len(word) for word in words]

print(list3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### 9.d)

In [11]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#using list comprehension making a new list containing lists where 
#each list contains the word in uppercase and lowercase and the length of the word
list4 = [ [word.upper(), word.lower(), len(word)] for word in words]

print(list4)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### 9.e)

In [15]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#using list comprehension making a new list containing
#words with 4 or more characters
list5 = [word for word in words if len(word) >= 4]

print(list5)

['quick', 'brown', 'jumps', 'over', 'lazy']